/**
 * login style sheet 
 */
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;
	width:70%;}

input[type=text],input[type=password]{
width: 90%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
font-size: 16px;
border-radius: 5px;
}

label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}

button {
    background-color: #008B8B;
    color: white;
    padding: 15px 18x;
    margin: 7px 0;
    border: none;
    cursor: pointer;
    width:50%;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}
